/* General */
.titulo{
    text-align: center;
    font-size: 35px;
}

.acceder{
    background-color: rgb(78, 121, 214);
    border-radius: 20px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.acceder:hover{
    background-color: rgb(12, 43, 110);
    transition: 0.5s;
}

.btn-salir{
    border-radius: 20px;
    padding: 0 25px 0 25px;
    cursor: pointer;
}

.header-general{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: rgb(179, 202, 250);
    position: fixed;
}

.contenedor_btn{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
}

.tabla-general{
    width: 65%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.747);
    overflow-x: auto;
    overflow-y: auto;
}

.buscador-general{
    width: 100%;
    box-sizing: border-box;
}

.contenido-alta-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.747);
    padding: 20px;
}

.contenido-alta-btns{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* pagina index */
.contenedor_index{
    background-image: url('./img/Foto-Login.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

.login-contenedor{
    background-color: white;
    margin-left: 50px;
    border-radius: 20px;
    padding: 20px;
    width: 40%;
    height: 40%;
    box-shadow: 21px 17px 21px -1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 21px 17px 21px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 21px 17px 21px -1px rgba(0,0,0,0.5);
}

.login-input{
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.login-formulario{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    height: 100%;
    gap: 10%;
    box-sizing: border-box;
}

/* Pagina de menu principal */
.header-menu{
    display: flex;
    justify-content: flex-start;
    gap: 41%;
    width: 100%;
    padding: 20px;
    background-color: rgb(179, 202, 250);
    position: fixed;
}

.contenido-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    width: 100%;
    height: 100vh;
    background-image: url("./img/Foto-Menu.jpg");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.btn-menu{
    width: 30%;
    height: 10%;
    background-color: rgb(78, 121, 214);
    border-radius: 20px;
    cursor: pointer;
    color: white;
    box-shadow: 21px 17px 21px -1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 21px 17px 21px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 21px 17px 21px -1px rgba(0,0,0,0.5);
}

.btn-menu:hover{
    background-color: rgb(12, 43, 110);
    transition: 0.5s;
}

/* Pagina citas */
.contenido-citas{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px 0 20px;
    flex-wrap: wrap;
    background-image: url("./img/Foto-Citas.jpg");
}

/* alta de las citas */
.contenido-alta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("./img/Foto-Citas-Alta.jpg");
}

/* Pagina de clientes */
.contenido-clientes{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px 0 20px;
    flex-wrap: wrap;
    background-image: url("./img/Foto-Clientes.jpg");
}

.tabla-clientes td{
    font-size: 20px;
}

/* alta de clientes */
.contenido-clientes-alta{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px 0 20px;
    flex-wrap: wrap;
    background-image: url("./img/Foto-Clientes-Alta.jpg");
}

/* pagina empleados */
.contenido-empleados{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px 0 20px;
    flex-wrap: wrap;
    background-image: url("./img/Foto-Veterinario.jpg");
}

/* alta de empleados */
.contenido-empleados-alta{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px 0 20px;
    flex-wrap: wrap;
    background-image: url("./img/Foto-Empleados-Alta.png");
}

/* editar citas */
.tabla-general-editar_eliminar {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.747);
}